body { 
  background: black;
  display: grid;
  grid-template-areas: 
    "header header header"
    "nav article ads"
    "nav footer footer";
  grid-template-rows: 80px 1fr 70px;  
  grid-template-columns: 20% 1fr 15%;
  grid-row-gap: 10px;
  grid-column-gap: 10px;
  height: 100vh;
  margin: 0;
  }  
header {
  padding: 1em;
  background: black;
  font-size: 15px; color: #fff;
  }
footer {
  padding: 1.2em;
  background: white;
  }
article {
  padding: 1.2em;
  background: white;
  }
nav {
  padding: 1.2em;
  background: white;
  }
div {
  padding: 1.2em;
  background: white;
  }

#pageHeader {
  grid-area: header;
  }
#pageFooter {
  grid-area: footer;
  }
#mainArticle { 
  grid-area: article;      
  }
#mainNav { 
  grid-area: nav; 
  }
#siteAds { 
  grid-area: ads; 
  } 
/* Stack the layout on small devices/viewports. */
@media all and (max-width: 575px) {
  body { 
    grid-template-areas: 
      "header"
      "article"
      "ads"
      "nav"
      "footer";
    grid-template-rows: 80px 1fr 70px 1fr 70px;  
    grid-template-columns: 1fr;
 }
}
.btn-area {margin-top: 0px;}
.btn-area button {
  width: 100px; height: 40px;
  background: #166cea;
  color: #fff;
  font-size: 20px;
  border: none;
  border-radius: 30px;
}

.headerline {
  background: black;
  line-height: 40px;
  float:left;
  text-align: left;
}

.headerlinel {
  font-weight: bold;
  font-size: 20px;
  background: black;
  float:left;
  text-align: left;
}

.headerline2 {

  border-radius: 30px;
  background: gray;
  float:right;
  text-align: right;
}

.box {
  background: black;
  
}


